Options -Indexes

SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<Files "config.php">
  Require all denied
</Files>

<Files "lib.php">
  Require all denied
</Files>

<Files "auth.php">
  Require all denied
</Files>
